{% extends "layout.html" %}
{% block content %}

	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Bills</h1>
      <p class="lead">Here are your Bills!</p>
    </div>




	<div class="container mx-auto text-center">
		

		<div class="border-top pt-3 mx-auto text-center"></div>
		<a type="button" class="btn btn-primary" href="{{ url_for('billGroupCreate') }}" role="button" style="margin: 1rem;">Add Bill</a>


				{% if bills %}

				<table class="table table-hover table-dark">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
					
				{% endif %}


					<!-- <a href="{{ url_for('billGroups') }}">
					<div class="card text-white bg-primary mb-3 mx-auto text-center" style="max-width: 20rem; height: 20rem; width: 20rem;">
						<div class="card-header">View your Organised Bill Groups</div>
						<div class="card-body text-center" style="margin: 60px">
							<h2 class="card-title">Bill Groups</h2>
							<p class="card-text">Click to View Bill Groups</p>
						</div>
					</div>
					</a>


					<a href="{{ url_for('account') }}">
					<div class="card text-white bg-secondary mb-3 mx-auto text-center" style="max-width: 20rem; height: 20rem; width: 20rem;">
						<div class="card-header">View your Account Details</div>
						<div class="card-body text-center"  style="margin: 60px">
							<h2 class="card-title">Account</h2>
							<p class="card-text">Click to View Account</p>
						</div>
					</div>
					</a> -->


				</div>


    	


		
		
	</div>


{% endblock content %}